{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container">
  <form method="post">
    <div class="col-md-4 login-form-1"></div>
    <div class="col-md-4 login-form-1">
      <h3>Register</h3>
          <div class="form-group">
              <input type="email" class="form-control" maxlength="50" placeholder="Email" value="" name="Username" id="Username" required/>
          </div>
          <div class="form-group">
              <input type="password" class="form-control" maxlength="30" placeholder="Password" value="" name="Password" id="Password" required/>
          </div>
          <div class="form-group">
              <input type="submit" class="btn btn-primary btn-lg" value="Register" />
          </div>
    </div>
    <div class="col-md-4 login-form-1"></div>
  </form>
</div>
{% endblock %}